@inherits GameTerminalBase
@using RLEngine.Server
@using RLEngine.Core
@using RLEngine.Core.Enumerations;
@inject RLEngine.Server.GameServer GameServer

<div class="terminalCell">
    <div class="GameboardView" style="@GridColumnString">
        @RenderView()
    </div>
</div>

