pre.ascii {

    padding: 0em;
    margin: 1em;
    font-size: 18px;
    line-height: 1em;
    letter-spacing: .5em;
    caret-color: transparent;
    text-align: center;

}


div.terminalCell {
    padding: 5px;
    grid-row: span 2;
    border: 1px solid #fff;
    overflow: hidden;
    text-align: center;
}