@inherits HistoryTerminalBase

@using RLEngine.Server
@using RLEngine.Core
@using System.Collections.Generic;
@using System.Linq;


<div class="terminalCell" >
    <div class="ascii"><pre>@Messages</pre></div>
    <div><input @ref="inputRef" class="playerInput" @bind="CommandText" @onclick="@OnClick"  type="text"/></div>
</div>

