@inherits InventoryDialogBase
@using RLEngine.Server
@using RLEngine.Core
@using RLEngine.Core.Components;
@inject RLEngine.Server.GameServer GameServer

@if(Open){
    <div  class="overlay">
        <div class="dialog ascii">
        @if(Step == InventoryDialogStep.SelectItem){
            <div>Inventory!</div>
            <table class="ascii">
            @foreach(var entry in GetItemSelectionOptions()){
                var item = entry.item;
                var itemComponent = item.GetComponent<ItemComponent>();
                <tr>
                    <td>@entry.character</td>
                    <td>@item.Name</td>
                    <td>@itemComponent.Value</td>
                </tr>
            }
            </table>
        }
        @if(Step == InventoryDialogStep.SelectAction){

                <div>Actions</div>
                <div>What do you want to do with @SelectedItem.Name</div>
                <table class="ascii">
                <tr>
                    <td>d</td>
                    <td><u>D</u>rop</td>
                </tr>
                </table>


        }
        </div>
    </div>
}
