@inherits InventoryDialogBase
@using RLEngine.Server
@using RLEngine.Core
@using RLEngine.Core.Components;
@inject RLEngine.Server.GameServer GameServer

@if(Open){
    <div  class="overlay">
        <div class="dialog ascii">
            <div>Inventory!</div>
            <table>
            @for(var itemIndex = 1; itemIndex <= Items.Count(); itemIndex++){
                var item = Items[itemIndex-1];
                var itemComponent = item.GetComponent<ItemComponent>();
                <tr><td>@itemIndex</td><td>@item.Name</td><td>@itemComponent.Value</td></tr>
            }
            </table>
            <pre>@GameServer.GameTick</pre>
        </div>
    </div>
}
