@inherits ScoresTerminalBase
@using RLEngine.Server

<div class="terminalCell">
    <table>
        <tr>
            <td>Health</td>
            <td>@Health / @MaxHealth</td>
        </tr>
    </table>
</div>