@inherits StatusTerminalBase
@using RLEngine.Server
@using RLEngine.Core
@inject RLEngine.Server.GameServer GameServer

<div class="terminalCell">
@GameServer.GameTick
(@Player?.X / @Player?.Y) Last Action: @LastAction
</div>

@code {



}
