@page "/game"

<PageTitle>Main Game</PageTitle>

@using RLEngine.Server
@inject RLEngine.Server.GameServer GameServer

<h1>Game</h1>

@GameServer.GameTick
<p>This component demonstrates fetching data from a service.</p>

@code {

    System.Threading.Timer? timer = null;
    long lastTick;
    protected override void OnInitialized()
    {
        lastTick = GameServer.GameTick;
        timer = new System.Threading.Timer(async _ =>  // async void
        {

            if(GameServer.GameTick > lastTick)
                await InvokeAsync(StateHasChanged);

            // we need StateHasChanged() because this is an async void handler
            // we need to Invoke it because we could be on the wrong Thread

        }, null, 0, 100);
    }

}
